#root {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.active-link {
  color: var(--colorBrandForegroundLinkPressed);
  text-decoration: underline !important;
}

.link {
  color: var(--colorBrandForegroundLink);
}

.link:visited {
  text-decoration: none;
}

a:-webkit-any-link {
  color: unset;
  text-decoration: unset;
  cursor: auto;
}
